{% extends "app/layout.html" %}
{% load i18n %}

{% block html_metatags %}
    <meta name="keywords" content="{{ campaign.subtitle }}"/>
    <meta name="description" content="{{ campaign.description }}"/>
{% endblock %}
{% block og_metatags %}
    <meta property="fb:app_id"  content="192779637534941" />
    <meta property="og:type"    content="website" />
    <meta property="og:title"   content="{{ campaign.title }}" />

    <meta property="og:description" content="{{ campaign.description }}" />
    <meta property="og:url"     content="https://www.ebutler.co.za/recipes/mzansi-pasta" />
    <meta property="og:site_name" content="eButler South Africa" />
    <meta property="og:image"       content="{{ MEDIA_URL }}{{ campaign.image }}" />
{% endblock %}
{% block twitter_metatags %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ebutlersa">
    <meta name="twitter:creator" content="@ebutlersa">
    <meta name="twitter:title"   content="{{ campaign.title }} - eButler South Africa">
    <meta name="twitter:description" content="{{ campaign.description }}">
    <meta name="twitter:image"       content="{{ MEDIA_URL }}{{ campaign.image }}">
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
